body{
  margin: 0;
}

#section-1 {
  background-color: aqua;
}
#section-2 {
  background-color: rgb(107, 107, 240);
}
#section-3 {
  background-color: coral;
}
#section-4 {
  background-color: rgb(133, 102, 62);
}
#section-5 {
  background-color: bisque;
}
#id-55 {
  background-color: bisque;
  margin: 0;
}

.contaniner {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.f-img {
  width: 300px;
  size: 300px;
  margin: 20px;
}

.flex box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 320px;
  margin: 10px;
  font-variant-position: sub;
  font-size: small;
}
.c-img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.background-img {
  background-image: url(./images/footer-background.webp);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

ul {
  margin: 0;
}
